.blue_button {
    color: white !important;
    font-weight: 600;
    background: #5C8EC7;
    padding: 13px;
    border: 2px solid #5C8EC7;
    transition: all 0.3s ease 0s;
}

.blue_button:hover {
    color: #5C8EC7 !important;
    background: none;
    border: 2px solid #5C8EC7;
}