.loginWrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000D20;
}

.loginContainer {
    width: 40%;
    background: white;
    padding: 40px;
    text-align: center;
}

.loginContainer img {
    width: 100%;
    margin-bottom: 50px;
}

.loginContainer h1 {
    color: #000D20;
    margin-bottom: 50px;
}

.loginContainer input {
    width: 60%;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #000D20;
    font-family: "Montserrat", sans-serif;
}

.loginContainer button {
    width: 30%;
    height: 40px;
    background: #000D20;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}